.container {
  display: flex;
  gap: 10px; /* コンポーネント間の間隔を設定 */
  justify-content: center; /* 水平方向の中央寄せ */
  align-items: center; /* 垂直方向の中央寄せ */
}

.container2 {
  display: flex;
  gap: 10px; /* コンポーネント間の間隔を設定 */
  justify-content: center; /* 水平方向の中央寄せ */
  align-items: center; /* 垂直方向の中央寄せ */
}
