@if (userUId && isManager) {
  <div>
    <h2>予定労働時間</h2>
    <label for="user-select">ユーザを選択:</label>
    <select id="user-select" (change)="onUserChange($event)">
      <option value="">全ユーザ</option>
      @for (user of users; track user) {
        <option [value]="user.name">{{ user.name }}</option>
      }
    </select>
    <br>
    <label for="month-select">月を選択:</label>
    <select id="month-select" (change)="onMonthChange($event)">
      <option value="" disabled selected style="display:none;">今月</option>
      @for (month of months; track month) {
        <option [value]="month.value">{{ month.label }}</option>
      }
    </select>
    <br>
    <button (click)="updateData()">更新</button>
    <div style="display: block;">
      <canvas
        baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend">
      </canvas>
    </div>
  </div>
}
