.dashboard-container {
  display: flex;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.sidebar {
  width: 300px; /* サイドバーの幅を適切に設定 */
  padding: 20px;
  background-color: #f4f4f4;
  border-left: 1px solid #ccc;
}

.controls {
  margin-bottom: 20px;
}

.chart-container {
  margin-bottom: 20px;
  width: 20%;
}

.overdue-tasks {
  flex: 1;
  padding: 10px;
  background-color: #ffcccc;
  border: 1px solid #ff0000;
  border-radius: 5px;
  max-height: 400px; /* 固定の高さを設定 */
  overflow-y: auto; /* 縦スクロールを有効に */
}

.overdue-tasks h3 {
  margin-top: 0;
}

.overdue-tasks table {
  width: 100%;
  border-collapse: collapse;
}

.overdue-tasks th, .overdue-tasks td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.overdue-tasks thead {
  background-color: #f9f9f9;
}

.chart-and-overdue {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.genre-dashboard {
  h2 {
    margin-top: 0;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th, td {
      border: 1px solid #ccc;
      padding: 8px;
      text-align: left;
    }

    thead {
      background-color: #f9f9f9;
    }
  }
}
