
<form>
  <div class="submit-form">
    
    <div>
        <div class="form-group">
          <app-pull-test></app-pull-test>
          <br>
          <input [min]="minDateTime" type=datetime-local name="deadlineDate" id="DeadlineDate" [(ngModel)]="tutorial.deadlineDate">
           <br>
          <label for="title">課題名</label>
          <input  
          (input)="validateTagName()"
          placeholder="課題名" 
          type="text"
            class="form-control"
            id="title"
            required
            [(ngModel)]="tutorial.title"
            name="title"
          />
        </div>
        
        <br><p>ステータス:<select name="Status"
            [(ngModel)]="tutorial.status">
            <option>着手前</option>
            <option>着手中</option>
            <option>完了</option>
            <option>中止</option>
            </select>
          
            <br><p>優先度:<select  [(ngModel)]="tutorial.priority"  name="Priority">
              <option>高</option>
              <option>中</option>
              <option>低</option>
              </select>  <br> <p>想定作業時間:
                <input type="number" [(ngModel)]="tutorial.taskTime" min="1" max="24" step="1" 
                name="taskTime"(keydown)="preventInput($event)"  /> 時間
              </p>
            <br>
            <label for="title">メモ</label>
            <input  
            placeholder="メモ"
            type="text"
              class="form-control"
              id="freeText"
              required
              [(ngModel)]="tutorial.freeText"
              name="title"
              maxlength="30"
            />
            <button (click)="saveTutorial()" class="btn btn-success" >Submit</button>
  
          </div>
  