<script> import firebase from '@/plugins/firebase'</script>



<div>研修用課題：計算機</div>
          


<table class= "calcs">
<div class= "calc-container">
<div class= "formula-container">

<br/>




<textarea name="formula" [(ngModel)]="currentTutorial.Display_formula" disabled 
class="formula" placeholder="式を入力してください"   id="Display_formula"
></textarea><br/>




<textarea name="formula" [(ngModel)]="currentTutorial.Display_answer" disabled 
class="formula" placeholder="解が出力されます" 
></textarea><br/>
</div></div>

<div class= "buttons">



    <button (click) ="allclear();updateTutorial()">AC</button>
    <button (click) ="resetter();clear();updateTutorial()">C</button>
    <button (click) ="Formula3('\.');Formula_Background3('\.');wordcount();updateTutorial()">.</button>
    <button (click) ="Formula2('÷');Formula_Background2('/');wordcount();updateTutorial()">÷</button><br/>

    <button (click) ="resetter();Formula('7');Formula_Background('7');wordcount();updateTutorial()">7</button>
    <button (click) ="resetter();Formula('8');Formula_Background('8');wordcount();updateTutorial()">8</button>
    <button (click) ="resetter();Formula('9');Formula_Background('9');wordcount();updateTutorial()">9</button>

    <button (click) ="resetter();Formula2('-');Formula_Background2('-');wordcount();updateTutorial()">-</button><br/>
    <button (click) ="resetter();Formula('4');Formula_Background('4');wordcount();updateTutorial()">4</button>
    <button (click) ="resetter();Formula('5');Formula_Background('5');wordcount();updateTutorial()">5</button>
    <button (click) ="resetter();Formula('6');Formula_Background('6');wordcount();updateTutorial()">6</button>

    <button (click) ="Formula2('+');Formula_Background2('+');wordcount();updateTutorial()">+</button><br/>
    <button (click) ="resetter();Formula('1');Formula_Background('1');wordcount();updateTutorial()">1</button>
    <button (click) ="resetter();Formula('2');Formula_Background('2');wordcount();updateTutorial()">2</button>
    <button (click) ="resetter();Formula('3');Formula_Background('3');wordcount();updateTutorial()">3</button>

    <button (click) ="Formula2('×');Formula_Background2('*');wordcount();;updateTutorial()">×</button><br/>
    <button (click) ="resetter();Formula('0');Formula_Background('0');wordcount();;updateTutorial()">0</button>
    <button (click) ="Formula00('00');Formula_Background00('00');wordcount();;updateTutorial()">00</button>
    <button (click) ="Formula000('000');Formula_Background000('000');wordcount();updateTutorial();">000</button>
    <button (click) ="calculate();wordcount();logging1();logging2();updateTutorial()">=</button><br/> 
  
</div>

</table>

<table class="logger">
    <div class= "logger-container">
    <div class= "favkeeper-container">
         
    </div><br/>
    <div class= "button2">  
    <textarea name="logger" [(ngModel)]="currentTutorial.keepview" disabled 
    class="logger" placeholder="任意の式を保存可能" 
    ></textarea><br/>
    <button (click) ="output();updateTutorial();">追加</button>
    <button (click) ="reset();updateTutorial()">初期化</button>
    <button (click) ="resetter();switcher();updateTutorial()">切り替え</button>
    <button (click) ="favkeep();updateTutorial()">保存</button>
    <br/>

    <textarea name="logger"  [(ngModel)]="currentTutorial.testtesttest" class="logger" disabled 
    placeholder="ログが保存されます" 
    id="contentToConvert2"
    ></textarea><br/>
    <button (click) ="logging3();;updateTutorial()">初期化
    </button>
    <button (click) ="convetToPDF();">PDF化</button>

    <br/>   

    </div>
